{{> header}}
<div class="profile">


  <!-- ADD A MESSAGE = ADD A FLOWER -->
  <div class="profile__add">
    <div class="profile__add--input-upload">
      <input type="file" name="image" value="">
    </div>

    <!-- CONTAINER -->
    <div class="profile__add--container">

      <!-- CROSS -->
      <div class="profile__add--cross">
        <div></div>
      </div>

      <!-- MESSAGE -->
      <div class="profile__add--message">

        <label for="message">Votre message</label>
        <div>
          <textarea id="message" name="message" rows="5"></textarea>
        </div>
      </div>

      <!-- BUTTON -->
      <div class="profile__add--button">
        <button type="button" class="btn uppercase" name="button">Envoyer</button>
      </div>

    </div>

  </div>

  <!-- PROFILE PICTURE -->
  <div class="profile__container--image">
    <img src="{{profile.image}}" class="profile--image" alt="Profile image" />
  </div>

  <!-- INFORMATIONS -->
  <div class="text-center profile__infos">
    <div class="profile__infos--name">
      <p>
        {{profile.name}}
      </p>
    </div>
    <div class="profile__infos--date text-left">
      <p>
        {{profile.dates.start}}
      </p>
      <p>
        {{profile.dates.end}}
      </p>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="profile__action">

    <!-- ADD A REMEMBER -->
    <div class="profile__action--remember">
      <div class="action">
      <button class="btn" type="button" name="button">
        <a href="#">
          +
        </a>
      </button>
      </div>
      <div class="content">
        <span>12</span><br>
        Souvenirs
      </div>
    </div>

    <!-- ADD A FLOWER -->
    <div class="profile__action--flower pull-right">
      <div class="content">
        <span>43</span><br>
        Fleurs reçues
      </div>
      <div class="action">
        <button class="btn" type="button" name="button">
          <a href="#">
            <img src="src/images/icons/flower-shadow-icon.svg" alt="Fleur icon" />
          </a>
        </button>
      </div>
    </div>

  </div>

  <!-- TABS -->
  <div class="profile__tabs">

    <!-- SELECT REMEMBER -->
    <div class="profile__tabs--remember uppercase selected">
      Souvenirs
    </div>

    <!-- SELECT FLOWER -->
    <div class="profile__tabs--flower pull-right uppercase">
      Fleurs
    </div>

  </div>

  <!-- CONTENT TABS -->
  <div class="profile__content">

  <!-- SEE REMEMEBERS -->
  <div class="profile__content--remember">
    {{#each allMemories as |_memory|}}
      <div class="post__remember">

        <!-- PROFILE OF POSTER -->
        <div class="post__profile">
          <img width="41" src="{{_memory.user_image}}" alt="Profile Lea" />
          <span class="post__profile--name">{{_memory.user_name}}</span><br>
          <span class="post__profil--date">{{_memory.date}}</span>
        </div>

        <!-- PICTURE -->
        <div class="post__remember--picture">
          <img src="{{_memory.image}}" alt="Amis Léa" />
        </div>

        <!-- REMEMBER -->
        <div class="post__remember--action">
          <div class="add-flower">
            <button type="button" class="btn" name="button">
              <img src="src/images/icons/flower-add-icon.svg" alt="Fleur blanche" />
            </button>
          </div>
          <div class="flowers">
            {{#each _memory.m_flowers}}
              <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>

  <!-- SEE FLOWERS -->
  <div class="profile__content--flower">

    {{#each allFlowers as |_flower|}}
    <!-- POST FLOWER N°1 -->
    <div class="post__flower">

      <!-- PROFILE OF POSTER -->
      <div class="post__profile">
        <img width="41" src="{{_flower.user_image}}" alt="Profile Lea" />
        <span class="post__profile--name">{{_flower.user_name}}</span><br>
        <span class="post__profile--date">{{_flower.date}}</span>
      </div>

      <!-- MESSAGE  -->
      <div class="post__flower--message">
        {{_flower.content}}
      </div>

    </div>
    {{/each}}

  </div>

  </div>

</div>
